@import '@/src/styles/mixins';
@import '@/src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.cropBtn {
  @include wh(36px, 36px);

  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 24px 11px 11px;

  color: $color-light-700;

  opacity: 0.8;
  background-color: $color-dark-500;
  border-radius: 2px;

  &:hover {
    color: $color-light-100;
  }
}

.cropOptions {
  @include wh(156px, 152px);

  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 2px;

  margin-top: -200px;
  margin-left: 11px;

  color: $color-light-900;

  opacity: 0.8;
  background-color: $color-dark-500;
  border-radius: 2px;

}

.cropOption {
  @include wh(128px, 26px);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 1px 12px 11px;

  &:hover {
    color: $color-light-100;
  }
}

.cropOptionActive {
  @include wh(128px, 26px);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 1px 12px 11px;

    color: $color-light-100;
}



.cropOption1 {
  @include wh(128px, 26px);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 8px 12px 11px;


  &:hover {
    color: $color-light-100;
  }

}

.cropOption1Active {
  @include wh(128px, 26px);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 8px 12px 11px;



}

.text1 {
  color: $color-light-900 !important;

  &:hover {
    color: $color-light-100;
  }
}

.text1Active {
  color: $color-light-100;
}

.blue {
  filter: brightness(0) invert(1);

  &:hover {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
  }
}

.blueActive {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}


.white {
  filter: brightness(0) invert(1);
}

.gray {
  filter: invert(0.5) sepia(1) saturate(0) hue-rotate(300deg);
}

