@import '../../../../styles/mixins';
@import '../../../../styles/colors';
@import '../../../../styles/typography';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.wrapper {
  @include wh(378px, 408px);
  @include flex-block(flex, column, space-evenly);

  padding: 24px;
  background-color: $color-dark-500;
  border: 1px solid $color-dark-300;
  border-radius: 2px;

  .password {
    @include wh(330px, 36px);

    margin-top: 20px;
    margin-bottom: 24px;
  }

  .passwordRequirement {
    @include flex-block(flex, row, flex-start);

    margin-top: 10px;
    color: $color-light-900;
  }

  .fieldWithError {
    margin-bottom: 42px !important;
  }

  .btn {
    margin-top: 50px;
  }
}

.text {
  padding-right: 90px;
}
