@import '@/src/styles/mixins';
@import '@/src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.container {
  @include wh(196px, 36px);

  position: relative;
  margin-top: -25px;
  }

.photoContainer {
  //margin-top: 16px;
  background-color: $color-dark-500;
}

.emptyPhotoContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 222px;
  min-height: 228px;
}

.selectPhoto {
  margin-top: 60px;
  margin-bottom: 30px;
}

.save {
  align-self: flex-end;
}

.saveBtn {
  padding: 6px 24px;
}

.addBtn {
  display: flex;
  color: $color-accent-500 !important;
}

.photoBtn {
  @include wh(198px, 36px);

  justify-content: center;
}
