@import '@/src/styles/mixins';
@import '@/src/styles/colors';

.card {
  width: 100%;
  max-width: 378px;
  padding: 1.44rem 1.5rem 1.5rem;

  .content {
    @include flex-block;

    width: 100%;

    .title {
      margin-bottom: 13px;
    }

    .oauthWrap {
      @include flex-block($flex-direction: row, $gap: 60px);

      margin-bottom: 24px;

      a {
        line-height: 0;
      }
    }

    .form {
      width: 100%;

      .controlTextField {
        margin-bottom: 24px;
        text-align: left;
      }

      .singIn {
        margin-bottom: 18px;
      }

      .wrapLinkForgotPass {
        @include flex-block(flex, row, flex-end);

        width: 100%;
        margin-bottom: 24px;
        padding-top: 12px;

        .link {
          text-decoration: none;

          .linkForgotPass {
            color: $color-light-900;
          }
        }
      }
    }
  }
}
