@import '../../styles/colors';

.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;

  .containerInfo {
    max-width: 1060px;
    padding: 35px 16px 0 20px;
    border-left: 1px solid $color-dark-300;
  }

  .containerInfoPublic {
    max-width: 1060px;
    padding: 35px 16px 0 20px;
  }
}
