@import 'src/styles/colors';
.container {
  display: flex;
  align-items: center;

  .link {
    text-decoration: none;
    padding-left: 12px;
    .active {
      color: $color-accent-500;
    }
  }
}
