@import 'src/styles/colors';

.container {
  display: flex;
  align-items: center;

  .link {
    padding-left: 12px;
    text-decoration: none;

    .active {
      color: $color-accent-500;
    }
  }
}
