@import '../../../../styles/mixins';
@import '../../../../styles/colors';

.modal {
  p {
    text-align: start;
  }

  .buttonOkWrapper {
    width: 100%;

    .buttonOk {
      @include flex-block;

      position: fixed;
      right: 24px;
      bottom: 36px;
      width: 96px;
    }
  }
}

.main {
  @include flex-block($justify-content: flex-start);

  width: 376px;
  padding-bottom: 16px;
  border-radius: 1px;

  .title {
    margin-top: 22px;
  }

  .email {
    width: 330px;
    margin-top: 37px;

    input {
      padding-left: 11px;
    }
  }

  .hint {
    padding: 7px 23px 6px;
    color: $color-light-900;
    text-align: start;
    letter-spacing: 0.3px;
  }

  .emailError {
    padding-top: 8px;
  }

  .back {
    @include flex-block;

    width: 330px;
    margin-bottom: 0;

    p {
      color: $color-accent-500;
    }
  }

  .answer {
    text-align: start;
  }

  .form {
    @include flex-block($justify-content: flex-start);
  }
}

.primary {
  .submit {
    @include flex-block;

    width: 330px;
    margin-top: 17px;
  }

  .back {
    margin: 24px 0 16px;
  }

  .recaptcha {
    height: 84px;
  }

  .answer,
  .repeat {
    display: none;
  }
}

.secondary {
  .answer {
    display: block;
    padding: 8px 23px;
  }

  .repeat {
    @include flex-block;

    width: 330px;
    margin-top: 10px;
  }

  .back {
    margin: 24px 0 0;
    color: $color-accent-500;
  }

  .submit,
  .recaptcha {
    display: none;
  }
}
