@import 'src/styles/colors';
@import 'src/styles/mixins';

.wrapper {
  display: flex !important;
  align-items: center !important;

  width: 387px !important;
  min-height: unset !important;
  padding: 0 !important;

  border-radius: 2px !important;

  button[aria-label='close'] {
    position: relative;
    top: 12px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;

    opacity: 1;
    border-radius: 50%;

    &:hover {
      background-color: $color-dark-700;
    }

    svg {
      transform: translateX(1px);
      width: 20px;
      height: 20px;
      fill: white;
    }
  }
}

.success {
  background: var(--success-900, #0a6638) !important;
  border: 1px solid var(--success-500, #14cc70) !important;
}

.error {
  background: var(--danger-900, #660a1d) !important;
  border: 1px solid var(--danger-500, #cc1439) !important;
}

.toast {
  margin: 0 !important;
  padding: 12px 24px !important;
}

.toastText {
  overflow: hidden;
  display: -webkit-box;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.toastContent {
  display: flex;
  justify-content: space-between;
  color: white;
}

.toastCustom {
  display: flex;
  justify-content: space-between;
}
