@import 'src/styles/mixins';
@import 'src/styles/colors';
@import 'src/styles/typography';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}


.selectbox {
  @include wh(210px, 36px);
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $color-dark-700;
  border: none;
  box-shadow: none;
  font: 400 16px Inter;
  line-height: $line-height-m;
  letter-spacing: 0;
  text-align: left;

  &:focus {
    border: 1px solid $color-dark-100;
    color: $color-dark-100;
    background-color: $color-dark-500;
  }

  &:hover {
    border: 1px solid $color-dark-100;
    color: $color-dark-100;
    background-color: $color-dark-500;
  }
}

.selecticon {
  color: $color-light-100;
}

.selectlabel {
  width: 190px;
  border: none;
  box-shadow: none;

  &:focus {
    border: none;
  }
}

.selectgroup {
  border: none;
  box-shadow: none;npm

  &:focus {
    box-shadow: none;
  }
}

.selectContent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
}


.label {
  @include wh(75px, 24px);
  font: 400 14px Inter;
  line-height: $line-height-m;
  letter-spacing: 0;
  text-align: left;
  color: $color-light-900;
}

h1 {
  font: 400 16px Inter;
  line-height: $line-height-m;
  letter-spacing: 0;
  text-align: left;
  margin-left: 12px;
}

.line {
  margin: 0 0 0 12px;
  padding: 0;
  font: 400 14px Inter;
  line-height: $line-height-m;
  letter-spacing: 0;
}

.optionline {
  @include wh(210px, 34px);
  background-color: $color-dark-500;
  color: $color-light-100;
  font: 400 14px Inter;
  line-height: $line-height-m;
  letter-spacing: 0;

  &:hover {
    color: $color-accent-500;
    background-color: $color-dark-300;
    cursor: pointer;
  }
}

.def {
  @include wh(208px, 36px);
  top: 60px;
  border: 1px solid $color-dark-100;
  background-color: $color-dark-900;
  color: $color-light-100;
}

.active {
  @include wh(208px, 36px);
  border: 1px solid $color-light-100;
  color: $color-light-100;
  background-color: $color-dark-500;
}

/*.hover {
  @include wh(208px, 36px);
  top: 60px;
  border: 1px solid $color-dark-100;
  color: $color-dark-100;
  background-color: $color-dark-500;
}

.focus {
  @include wh(206px, 36px);
  top: 60px;
  border: 2px solid $color-accent-500;
  color: #8d9094;
  background-color: $color-dark-500;
}*/

.disabled {
  @include wh(208px, 36px);
  top: 60px;
  border: 2px solid #8d9094;
  color: #8d9094;
  background-color: $color-dark-500;
}
