@import 'src/styles/mixins';
@import 'src/styles/colors';
@import 'src/styles/typography';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.label {
  @include wh(75px, 24px);
  text-align: left;
  letter-spacing: 0;
}

.selectBox {
  @include wh(210px, 36px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  outline: none;
  padding-left: 10px;

  cursor: pointer;

  font: 400 16px Inter;
  line-height: $line-height-m;
  text-align: left;
  letter-spacing: 0;

  background-color: $color-dark-700;
  border: 1px solid $color-dark-100;;
  box-shadow: none;

  &:focus {
    border: 2px solid $color-accent-500;
    color: #8d9094;
    background-color: $color-dark-500;
  }

  &:hover {
    color: $color-dark-100;
    background-color: $color-dark-500;
    border: 1px solid $color-dark-100;
  }

  &[data-state='open'] {
    & .selectIcon {
      transform: rotate(180deg);
    }
  }

  &:hover:not([data-disabled]){
    cursor: initial;
    background-color: $color-dark-500;
  }

  &[data-disabled]{
    cursor: initial;
    color: #8d9094;
    background-color: $color-dark-500;
    border: 2px solid #8d9094;
  }
}

.selectIcon {
  color: $color-light-100;
  transition: 0.2s ease-in-out;
}

.selectContent {
  width: 210px;
  background-color: $color-dark-500;
  border: 1px solid $color-dark-100;
}
.value{
  display: flex;
  align-items: center;
  gap: 12px;
}
.line {
  display: flex;
  align-items: center;
  gap: 12px;
  font: 400 14px Inter;
  line-height: $line-height-m;
  letter-spacing: 0;
  padding: 6px 12px;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease-out;

  &:hover,
  &:focus-visible,
  &[data-state='checked']{
    color: $color-accent-500;
    background-color: $color-dark-300;
  }
}

