@import 'src/styles/mixins';
@import 'src/styles/variables';

.container {
  @include flex-block;

  width: 100%;

  .main {
    @include flex-block;

    width: 100%;
    max-width: 1280px;
    min-height: calc(660px - $header-height);
  }
}
