@import 'src/styles/mixins';
@import 'src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.profile {
  width: 100%;
  max-width: 972px;
  margin-top: 20px;

  .content {
    @include flex-block(flex, row);

    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
    max-width: 972px;
    margin-bottom: 24px;

    .photoContent {
      display: flex;
      align-self: start;
      justify-content: center;

      max-width: 300px;
      min-height: 300px;
    }
  }
}
