@import 'src/styles/mixins';
@import 'src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.profile {
  width: 100%;
  max-width: 972px;

  .tabsMenu {
    // width: 972px;
    width: 100%;
    max-width: 972px;
  }
}