@import 'src/styles/mixins';
@import 'src/styles/colors';





.table {
  position: relative;
  top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.userTableRow {

  position: relative;
  top: 10px;

}

.thead .th {
  font-weight: 500;
  text-align: left;


}

.thead {
  background-color: $color-dark-100;
}


.tr,
.userTableRow {

  display: flex;
  justify-content: space-around;
}

.tbody :nth-child(even) {
  background-color: $color-light-100;

}

.td,
.td {
  padding: 8px;
  overflow-wrap: break-word;
}

.paginationBar {
  display: flex;
  position: relative;
  top: 40px;
  right: 40px;
  // width: 1100px;
}