@import '@/src/styles/mixins';
@import '@/src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.imgContainer {
  width: 490px;
  height: 457px;
}

.carousel {
  position: relative;
  width: 490px;
  height: 467px;
}