@import '@/src/styles/mixins';
@import '@/src/styles/colors';

.paginationContainer {
  display: flex;
  list-style-type: none;

  .paginationItem {
    @include flex-block($justify-content: center, $align-items: center);
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    box-sizing: border-box;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;

    &.dots:hover {
      cursor: default;
    }

    &:hover {
      background-color: $color-light-100;

      cursor: pointer;
    }

    &.selected {
      background-color: $color-light-100;
    }

    .arrow {
      &::before {
        position: relative;
        content: '';
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        //border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        //border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
