@import '@/src/styles/mixins';
@import '@/src/styles/colors';

.paginationContainer {
  display: flex;
  list-style-type: none;

  .paginationItem {
    @include flex-block($justify-content: center, $align-items: center);

    box-sizing: border-box;

    /* Изменен порядок свойств: min-width идет перед height */
    min-width: 32px;
    height: 32px;
    margin: auto 4px;
    padding: 0 12px;

    font-size: 13px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.0107em;

    border-radius: 16px;

    &.dots:hover {
      cursor: default;
    }

    &:hover {
      cursor: pointer;
      background-color: $color-light-100;
    }

    &.selected {
      background-color: $color-light-100;
    }

    .arrow {
      &::before {
        content: '';

        position: relative;

        display: inline-block;

        width: 0.4em;
        height: 0.4em;

        border-top: white;
        border-right: white;
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      &:hover {
        cursor: default;
        background-color: transparent;
      }
    }
  }
}
