@import 'src/styles/mixins';
@import 'src/styles/colors';
@import 'src/styles/typography';

.optionsList {
  list-style-type: none;
  width: var(--radix-select-trigger-width);
  background-color: $color-dark-500;
  border: 1px solid $color-dark-100;
  max-height: 300px;
  overflow-y: auto;
}

.option:hover {
  cursor: pointer;
  background-color: $color-dark-900;
  color: $color-light-100;
}
