@import '@/src/styles/mixins';
@import '@/src/styles/colors';

.widePaddingButton {
  padding-right: 36px;
  padding-left: 36px;
}

.cancelButtonHide {
  visibility: hidden;
}

.actionButton {
  //margin-right: auto;
}

.actionButtonHide {
  visibility: hidden;
}

.separator[data-orientation='horizontal'] {
  position: absolute;
  top: 59px;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: $color-dark-100;
}

.separatorHide {
  visibility: hidden;
}

.titleWrapper {
  @include flex-block($flex-direction: row, $justify-content: unset);

  height: 36px;
  margin-bottom: 42px;
}

.title {
  p {
    margin: 0;
    padding: 0;
  }
}

.DialogOverlay {
  position: fixed;
  inset: 0;

  // opacity: 0.6;
  background-color: $color-dark-900;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.DialogContent {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 12px 24px 36px;

  background-color: $color-dark-300;
  border: 1px solid $color-dark-100;
  border-radius: 2px;

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &.sm {
    width: 378px;
  }

  &.md {
    width: 492px;
    //height: 564px;
  }

  &.lg {
    width: 644px;
  }

  // @media screen and (width <= 768px) {
  //  &,
  //  &.sm,
  //  &.md,
  //  &.lg {
  //    width: calc(100% - 32px);
  //  }
  // }
}

.DialogContent:focus {
  outline: none;
}

.DialogDescription {
}

.contentBox {
  @include flex-block($gap: 24px, $align-items: center);

  margin-bottom: 18px;
}

.IconButton {
  all: unset;

  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 24px;

  svg {
    transform: scale(1.5);
  }

  &:hover svg {
    background-color: $color-dark-500;
    border-radius: 100%;
  }
}

.footerBlock {
  padding-top: 12px;
  @include flex-block($flex-direction: row, $justify-content: flex-end, $gap: 20px);
}

@keyframes contentShow {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
