@import 'src/styles/colors';

.link {
  display: flex;
  align-items: center;
  width: 140px;
  text-decoration: none;

  :hover {
    font-weight: 700;
    fill: $color-accent-500;
  }
}

.typography {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;

  :hover {
    font-weight: 700;
    fill: $color-accent-500;
  }

  .active {
    font-weight: 700;
    color: $color-accent-500;
    stroke: $color-accent-500;
  }
}
