@import 'src/styles/colors';

.container {
  display: flex;
  width: 100%;
  min-width: 140px;
}

.link {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
}

.link:hover svg {
  fill: $color-accent-500;
  stroke: $color-accent-500;
}

.link:hover p {
  font-weight: 700;
  color: $color-accent-500;
}

.active {
  font-weight: 700;
  color: $color-accent-500;
}
