@import '@/src/styles/mixins';
@import '@/src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.addBtn {
  @include wh(36px, 36px);

  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 11px 11px;

  color: $color-light-700;

  opacity: 0.8;
  background-color: $color-dark-500;
  border-radius: 2px;
}

.blue {
  filter: brightness(0) invert(1);

  &:hover {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
  }
}

.blueActive {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.addContainer {
  cursor: pointer;

  display: flex;

  min-width: 162px;
  height: 106px;
  margin-top: -154px;
  margin-right: 11px;

  color: $color-light-700;

  opacity: 0.8;
  background-color: $color-dark-500;
  border-radius: 2px;
}

.addedPhoto {
  @include wh(80px, 82px);

  margin: 12px;
}

.addPhotoBtn {
  @include wh(36px, 36px);

  margin: 12px;
}

.addTheSecondPhoto {
  @include wh(36px, 36px);

  margin: 12px 12px 12px 5px;
}

.carouselPhoto {
  @include wh(80px, 82px);

  margin: 12px;
}
