@import 'src/styles/mixins';
@import 'src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.imgContainer {
  width: 490px;
  height: 457px;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;

  // width: 490px;
  height: 467px;
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 457px;
}

.imgWithFilter {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.image {
  cursor: pointer;
  margin-bottom: 2px;
  object-fit: cover;
}

.filterName {
  @include wh(108px, 24px);

  display: flex;
  justify-content: center;
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
}

.slick-dots {
  bottom: 10px;
  color: #fff;
}
