@import '../../../styles/mixins';
@import '../../../styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.separator[data-orientation='horizontal'] {
  position: absolute;
  top: 59px;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: $color-dark-100;
}

.separatorHide {
  visibility: hidden;
}

.DialogOverlay {
  position: fixed;
  inset: 0;

  opacity: 0.6;
  background-color: $color-dark-900;

  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 972px;
  height: 564px;

  background-color: $color-dark-300;
  border: 1px solid $color-dark-100;
  border-radius: 2px;

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent:focus {
  outline: none;
}

.contentBox {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 18px;
}

.titleWrapper {
  @include flex-block($flex-direction: row, $justify-content: center);

  height: 61px;
}

.next {
  @include wh(82px, 36px);

  position: relative;
  left: 440px;
}

.nextButton {
  @include wh(82px, 36px);

  cursor: pointer;

  position: relative;

  color: $color-accent-500;

  background-color: transparent;
  border: none;

  &:hover {
    color: $color-accent-100;
    outline: 0;
    outline-offset: 0;
  }

  &:focus-within {
    color: $color-accent-100;
    outline: 0;
    outline-offset: 0;
  }

  &:active {
    color: $color-accent-100;
    outline: 0;
    outline-offset: 0;
  }
}

.wrapper {
  @include wh(100%, 100%);

  display: flex;
  flex-direction: row;
  max-width: 972px;
  max-height: 564px;
}

.editOption1 {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 8px 12px 11px;
}

.container {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.postImage {
  // width: 100%;
  max-width: 234px;

  // height: 100%;
  max-height: 228px;
}

s.postImage2 {
  width: auto;

  // width: 100%;

  height: auto;

  // height: 100%;
}
