@import 'src/styles/mixins';
@import 'src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.button {
  cursor: pointer;

  z-index: 2;

  width: 100%;
  padding: 10px 0;

  color: #fff;

  background-color: #000;
}

.croppedImage {
  @include wh(490px, 503px);
}

.croppedImageContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

._coverImage-holder {
  cursor: pointer;

  margin-bottom: 20px;
  padding: 25px 40px;

  background-color: black;
  border-radius: 5px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cropContainer {
  width: 490px;
  height: 457px;
}

.carousel {
  position: relative;
  width: 490px;
  height: 467px;
}

.croppedPhoto {
  width: 503px;
  height: 490px;
}

.controls {
  position: absolute;
  bottom: 15px;

  display: flex;
  flex-direction: column;

  width: 600px;
}

.expand {
  cursor: pointer;
  position: relative;
}

.maximize {
  cursor: pointer;
  position: relative;
}

.edit {
  display: flex;
  flex-direction: row;
}

.editAndAdd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 420px;
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
}

.dots {
  bottom: 40px !important;
}
