@import 'src/styles/mixins';
@import 'src/styles/colors';
@import 'src/styles/typography';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.wrapper {
  @include wh(378px, 408px);
  @include flex-block(flex, column, space-evenly);
  border-radius: 2px;
  background-color: $color-dark-500;
  border: 1px solid $color-dark-300;
  padding: 24px;
  .password {
    @include wh(330px, 36px);
    margin-top: 20px;
    margin-bottom: 24px;
  }
  .passwordRequirement {
    @include flex-block(flex, row, flex-start);
    color: $color-light-900;
    margin-top: 10px;
  }

  .btn {
    margin-top: 50px;
  }
}

.text {
 padding-right: 50px;
}

.fieldWithError {
  margin-bottom: 0 !important;
}
.lastField {
  margin-bottom: 12px;
}
