@import "typography";

@mixin flex-block(
  $display: flex,
  $flex-direction: column,
  $justify-content: center,
  $align-items: center,
  $gap: 0px
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin typography(
  $fs: var(--font-size-s),
  $lh: var(--line-height-m),
  $fw: var(--font-weight-regular)
) {
  margin: 0;
  padding: 0;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
}
