@import 'typography';

@mixin flex-block(
  $display: flex,
  $flex-direction: column,
  $justify-content: center,
  $align-items: center,
  $gap: 0
) {
  display: $display;
  flex-direction: $flex-direction;
  gap: $gap;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin typography($fs: $font-size-s, $lh: $line-height-m, $fw: $font-weight-regular) {
  margin: 0;
  padding: 0;

  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}
