$font-family-primary: 'Inter', sans-serif;

// line heights
$line-height-s: 16px; // 1rem
$line-height-m: 24px; // 1.5rem
$line-height-l: 36px; // 2.25 rem
// font sizes
$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-m: 1rem;
$font-size-l: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-xxl: 1.625rem;

// font weights
$font-weight-regular: 400;
$font-weight-h3-large: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
