$font-family-primary: 'Inter', sans-serif;

// line heights
$line-height-s: 16px; // 1rem
$line-height-m: 24px; // 1.5rem
$line-height-l: 36px; // 2.25 rem
// font sizes
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 26px;

// font weights
$font-weight-regular: 400;
$font-weight-h3-large: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
