.wrapper {
  position: absolute;
  width: 100%;
  height: 100px;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;

  background: #529bfa;
}

#nprogress .peg {
  position: absolute;
  right: 0;
  transform: rotate(3deg) translate(0, -5px);

  display: block;

  width: 100px;
  height: 100%;

  opacity: 1;
  box-shadow:
    0 0 10px #caebff,
    0 0 5px #529bfa;
}
