@mixin button(
  $color: var(--color-light-100),
  $bgColor: var(--color-accent-500),
) {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;

  box-sizing: border-box;
  padding: 0.375rem 1.5rem;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 24px;
  color: $color;
  text-decoration: none;

  background-color: $bgColor;
  border-radius: 2px;

  transition: 0.3s;

  &:focus:not(:disabled) {
    outline: 1px solid var(--accent-300, #4C8DFF);
  }

  &:disabled {
    cursor: default;
    color: var(--light-900, #8D9094);
    background: var(--accent-900, #234E99);
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  @include button;

  &:active:not(:disabled) {
    background-color: var(--color-accent-700);
  }

  &:hover:not(:disabled) {
    background-color: var(--color-accent-300);
  }
}

.secondary {
  @include button(
          $bgColor: var(--color-dark-300),
  );

  &:active:not(:disabled) {
    background-color: #212121;
  }

  &:hover:not(:disabled) {
    background-color: var(--color-dark-100);
  }

  &:disabled {
    color: var(--color-light-900);
    background: var(--color-dark-500);
  }
}

.outlined {
  @include button(
          $color: var(--color-accent-500),
          $bgColor: var(--color-dark-900),
  );
  outline: 1px solid var(--color-accent-500);

  &:active:not(:disabled) {
    color: var(--color-accent-700);
    outline: 1px solid var(--color-accent-700);
  }

  &:hover:not(:disabled) {
    color: var(--color-accent-100);
    outline: 1px solid var(--color-accent-100);
  }

  &:focus:not(:disabled) {
    color: var(--color-accent-700);
    outline: 2px solid var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    outline: 2px solid var(--color-accent-900);
  }
}

.link {
  @include button($color: var(--color-accent-500), $bgColor: none);

  padding: 6px 12px;
  outline: 1px solid transparent;
  border-radius: 130px;

  &:active:not(:disabled) {
    color: var(--color-accent-700);
  }

  &:hover:not(:disabled) {
    color: var(--color-accent-100);
  }

}

.text {
  @include button($color: var(--color-accent-500), $bgColor: none);

  padding: 6px 12px;
  outline: 1px solid transparent;
  border-radius: 130px;

  &:active:not(:disabled) {
    color: var(--color-accent-700);
  }

  &:hover:not(:disabled) {
    color: var(--color-accent-100);
  }

  &:focus {
    border-radius: 2px;
    outline: 2px solid var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.internation {
  @include button($color: var(--color-light-100), $bgColor: var(--color-dark-300));
  padding: 6px 12px;
}
