@import '@/src/styles/mixins';
@import '@/src/styles/colors';

.card {
  @include flex-block();
  width: 100%;
  max-width: 378px;
  padding: 1.44rem 1.5rem 1.5rem;

  .title {
    margin-bottom: 13px;
  }

  .oauth {
    @include flex-block($flex-direction: row, $gap: 60px);
    margin-bottom: 24px;
  }

  .field {
    margin-bottom: 24px;
    text-align: left;
  }

  .lastField {
    margin-bottom: 12px;

  }

  .terms {
    @include flex-block($flex-direction: row, $gap: 8px);

    .termsRow {
      display: inline-flex;
    }

    margin-bottom: 12px;
  }

  .registerBtn {
    margin-bottom: 18px;
  }

  .subtitle {
    margin-bottom: 6px;
  }

  .termsLink {
    color: $color-accent-300;
    padding-left: 3px;
    padding-right: 3px;
  }
}
