@import '@/src/styles/mixins';
@import '@/src/styles/colors';

.card {
  width: 100%;
  max-width: 378px;
  padding: 1.44rem 1.5rem 1.5rem;

  .content {
    @include flex-block;

    width: 100%;

    .title {
      margin-bottom: 13px;
    }

    .authIcons {
      @include flex-block($flex-direction: row, $gap: 60px);

      margin-bottom: 24px;

      :focus-visible {
        border-radius: 3px;
        outline: 2px solid $color-accent-300;
      }

      a {
        line-height: 0;
      }
    }

    .form {
      position: relative;
      width: 100%;
    }

    .field {
      margin-bottom: 24px;
      text-align: left;
    }

    .fieldWithError {
      margin-bottom: 0 !important;
    }

    .lastField {
      margin-bottom: 12px;
    }

    .terms {
      @include flex-block($flex-direction: row);

      margin-bottom: 12px;
      padding-right: 10px;

      :focus-visible {
        border-radius: 3px;
        outline: 2px solid $color-accent-300;
      }

      .termsRow {
        display: inline-flex;
      }

      .termsLink {
        color: $color-accent-300;
      }
    }

    .registerBtn {
      margin-bottom: 18px;
    }

    .subtitle {
      margin-bottom: 6px;
    }

    &:focus-visible {
      border-radius: 3px;
      outline: 2px solid $color-accent-300;
    }
  }
}
