@import 'src/styles/mixins';
@import 'src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.editBtn {
  @include wh(36px, 36px);

  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 13px 18px 11px 11px;

  color: $color-light-700;

  opacity: 0.8;
  border-radius: 2px;

  &:hover {
    color: $color-light-100;
  }
}

.editOptions {
  @include wh(137px, 85px);

  position: absolute;
z-index: 100;

  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: space-between;

  margin-top: -11px;
  margin-left: -90px;

  color: $color-light-900;

  opacity: 0.8;
  background-color: $color-dark-500;
  border: 1px solid #4C4C4C;
  border-radius: 2px
}

.editOption1 {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 8px 9px 11px;

  &:hover {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
  }
}

.blue {
  filter: brightness(0) invert(1);

  &:hover {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
  }
}

.blueDots {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.wrapper {
  display: flex;
  flex-direction: row;
}
