@import 'src/styles/mixins';
@import 'src/styles/colors';

.btn {
  display: flex;
  fill: white;

  :hover {
    font-weight: 700;
    fill: $color-accent-500;
  }

  .text {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
}
