@import '@/src/styles/mixins';
@import '@/src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.widePaddingButton {
  padding-right: 36px;
  padding-left: 36px;
}

.cancelButtonHide {
  visibility: hidden;
}

.actionButton {
  margin-left: auto;
}

.actionButtonHide {
  visibility: hidden;
}

.separator[data-orientation='horizontal'] {
  position: absolute;
  top: 59px;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: $color-dark-100;
}

.separatorHide {
  visibility: hidden;
}

.titleWrapper {
  @include flex-block($flex-direction: row, $justify-content: center);

  height: 61px;
}

.title {
  p {
    margin: 0;
    padding: 0;
  }
}

.DialogOverlay {
  position: fixed;
  inset: 0;

  // opacity: 0.6;
  background-color: $color-dark-900;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

/* @keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */

.DialogContent {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 972px;
  height: 564px;

  background-color: $color-dark-300;
  border: 1px solid $color-dark-100;
  border-radius: 2px;

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent:focus {
  outline: none;
}

.contentBox {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 18px;
}

.IconButton {
  all: unset;

  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 24px;

  svg {
    transform: scale(1.5);
  }

  &:hover svg {
    background-color: $color-dark-500;
    border-radius: 100%;
  }
}

.arrowButton {
  all: unset;

  cursor: pointer;

  position: absolute;
  top: 20px;
  left: 24px;

  svg {
    transform: scale(1.5);
  }

  &:hover svg {
    background-color: $color-dark-500;
    border-radius: 100%;
  }
}


.nextButton {
  @include wh(82px, 36px);

  cursor: pointer;

  position: relative;


  color: $color-accent-500;

  background-color: transparent;
  border: none;

  &:hover {
    color: $color-accent-100;
  }
}

.nextBtn {

  @include wh(82px, 36px);

  cursor: pointer;

  position: relative;

  display: flex;
  justify-content: center;

  color: $color-accent-500;

  background-color: transparent;
  border: none;

  &:hover {
    color: $color-accent-100;
  }
}

.next {
  position: relative;
  left: 470px;
}

.footerBlock {
  @include flex-block($flex-direction: row, $justify-content: space-between);
}

@keyframes contentShow {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
