@import '@/src/styles/mixins';
@import '@/src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.wrapper {
  @include wh(481px, 562px);
}

.separator[data-orientation='horizontal'] {
  top: 59px;
  left: 0;

  width: 480px;
  height: 1px;

  background-color: $color-dark-100;
}

.separatorHide {
  visibility: hidden;
}

.title {
  @include wh(480px, 59px);

  display: flex;
  justify-content: space-between;
}

