@import 'src/styles/mixins';
@import 'src/styles/colors';
@import 'src/styles/typography';

$darkGrey: #9d9d9d; // checkbox :hover bcg color
$lightGrey: #b7b7b7; // checkbox border color
$preloader: #4d8df4; // preloader color
$marginRight: 13px; // distance between changeable block and label "im not a robot" * very import crutch

.recaptcha {
  @include flex-block($flex-direction: row, $justify-content: space-between);
  width: 300px;
  height: 79px;
  padding: 0 18px 0 19px;
  border-radius: 1px;

  .agreement {
    @include flex-block($flex-direction: row, $align-items: center);
    position: relative;

    .expiredMessage {
      font-family: 'Roboto', sans-serif;
      @include typography($fs: 10px, $lh: 12px, $fw: 400);
      color: $color-danger-500;
      position: absolute;
      left: -3px;
      top: -24px;
      width: 190px;
    }

    .customCheckbox {
      width: 20px;
      height: 20px;
      background-color: $color-light-100;
      border: 1px solid $lightGrey;
      border-radius: 1px;
      margin-right: $marginRight;

      &:hover {
        cursor: pointer;
        background-color: $darkGrey;
        transition-delay: 0.1s;
        -webkit-transition-delay: 0.1s;
      }
    }

    .hidden {
      display: none;
    }

    label {
      font-size: 12px;
      color: $color-light-100;
      width: 78px;
    }

    .checked {
      margin: 0 10px 0 -2px;
    }
  }

  .privacy {
    @include flex-block($align-items: center);

    &:hover {
      cursor: pointer;
    }
  }
}

.mode--primary {
  padding: 8px 7px;
}

.mode--error {
  border: 1px solid $color-danger-500;
  padding: 7px 6px 5px;
  width: 314px;
  margin-bottom: 10px;
  .errorText {
    display: block;
    color: $color-danger-500;
    margin: 7px 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
  }
}

.mode--expired {
  padding: 8px 7px;
}

.error-text {
  display: none;
}

.hidden {
  display: none;
}

// preloader
.ldsRing {
  display: inline-block;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: $marginRight;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 3px solid $preloader;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $preloader transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -1.45s;
    }

    &:nth-child(2) {
      animation-delay: -1.3s;
    }

    &:nth-child(3) {
      animation-delay: -1.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
