@import 'src/styles/mixins';

$bcgCMain: #333333;
$error: #FF0000;

.recaptcha {
  @include flex-block (
    $flex-direction: row,
    $justify-content: space-between,
  );
  width: 300px;
  height: 79px;
  background-color: $bcgCMain;
  border: 1px #333333;
  border-radius: 2px;
  padding: 0 20px;

  .agreement {
    @include flex-block (
      $flex-direction: row,
      $align-items: center
    );
    position: relative;

    .expiredMessage {
      position: absolute;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      left: 0;
      top: -22px;
      font-size: 10px;
      line-height: 12px;
      width: 190px;
      color: $error;
    }
    .hidden {
      display: none;
    }
    label {
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      color: #FFFFFF;
      width: 78px;
    }
    .checked {
      margin-right: 10px;
      width: 20px;
    }
  }

  .customCheckbox {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px #B7B7B7;
    border-radius: 1px;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
      background-color: #9D9D9D;
      transition-delay: 0.1s;
      -webkit-transition-delay: 0.1s;
    }
  }
  .privacy {
    display: flex;
    align-items: center;
    &:hover{
      cursor: pointer;
    }
  }
}

.error-text {
  display: none;
}

.storybook-recaptcha--primary {
  padding: 9px 8px;
}

.storybook-recaptcha--error {
  border: 1px solid $error;
  padding: 8px 7px 13px;
  width: 316px;

  .error-text {
    display: block;
    color: $error;
    margin: 13px 0 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
  }
}

.storybook-recaptcha--expired {
  padding: 9px 8px;
}

.lds-ring {
  display: inline-block;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 3px solid #4d8df4;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #4d8df4 transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -1.45s;
    }
    &:nth-child(2) {
      animation-delay: -1.3s;
    }
    &:nth-child(3) {
      animation-delay: -1.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}