@import 'src/styles/mixins';
@import 'src/styles/colors';

.container {
  @include flex-block;

  position: sticky;
  top: 0;

  justify-content: space-between;

  width: 240px;
  height: 734px;
  padding-right: 50px;

  .containerLinks {
    @include flex-block;

    align-items: flex-start;
    justify-content: space-between;
    width: 155px;
    height: 100%;

    .favorites {
      padding: 6px 12px;
    }

    .logout {
      margin-bottom: 36px;
      margin-left: 5px;
    }
  }
}
