@import '@/src/styles/mixins';
@import '@/src/styles/colors';

.containerMain {
  @include flex-block($flex-direction: row);

  width: 100%;
  border-bottom: 1px solid $color-dark-300;

  .container {
    min-width: 1280px;

    .content {
      @include flex-block($flex-direction: row, $justify-content: space-between);

      width: 100%;
      margin: 0 auto;

      .incta {
        text-decoration: none;
      }

      .text {
        display: block;
        padding: 12px 0 12px 53px;
      }

      .options_container {
        @include flex-block;

        flex-direction: row;
        gap: 48px;
        padding-right: 76px;
      }
    }
  }

  .select {
    width: 163px;
  }
}
