@import 'src/styles/mixins';
@import 'src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.wrapper {
  @include wh(481px, 263px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userInfo {
  @include wh(433px, 36px);

  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.ava {
  @include wh(36px, 36px);

  margin-right: 12px;
  border-radius: 50%;
}

.userName {
  @include wh(90px, 24px);

  margin-top: 6px;
}

.textArea {
  @include wh(433px, 144px);

  textarea {
    height: 120px;
  }
}

.counter {
  display: flex;
  justify-content: flex-end;
  width: 433px;
}
