@import "src/styles/variables";
@import "src/styles/colors";

.main {
  display: flex;
  justify-content: space-around;
  background-color: $color-dark-700;
  max-width: 1280px;
  height: $header-height;
  position: relative;
  border-bottom: 1px solid $color-dark-300;
}

.insta {
  position: relative;

  bottom: 10px;
}


.img {
  position: relative;

  top: 10px;
  left: 300px;
}

.dropDown {
  position: relative;
  top: 10px;
}

