.main {
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    background-color: #0D0D0D;
    width: 1280px;
    height: 60px;
    position: relative;
}

.insta {
    position: relative;

    bottom: 10px;
}




.img {
    position: relative;

    top: 10px;
    left: 300px;
}

.dropDown {
    position: relative;
    top: 10px;
}

@media screen and (max-width:1284px) {
    .main {
        display: flex;
        justify-content: space-around;

        width: 1000px;


    }
}


@media screen and (max-width:1284px) {
    .main {
        display: flex;
        justify-content: space-around;

        width: 1100px;


    }
}


@media screen and (max-width:1106px) {
    .main {
        display: flex;
        justify-content: center;

        width: 930px;


    }

    .img{
        display: none;
    }
}


@media screen and (max-width:1006px) {
    .main {
        display: flex;
        justify-content: center;

        width: 700px;


    }

    .img{
        display: none;
    }
}