@import 'src/styles/mixins';
@import 'src/styles/colors';

.root {
  width: 100%;

  :global(.react-datepicker-wrapper) {
    width: 150px;
  }

  :global(.react-datepicker__day--outside-month) {
    color: $color-dark-100;
  }

  :global(.react-datepicker__day--weekend) {
    color: $color-light-900;
  }

  :global(.react-datepicker__day--today) {
    color: $color-accent-500;
  }

  :global(.react-datepicker__day--selected) {
    color: $color-light-100;
    background-color: $color-accent-900;
    background-image: radial-gradient(28px circle, $color-accent-500 48%, transparent 51%);
    border-radius: 50%;
  }

  :global(.react-datepicker__day--keyboard-selected) {
    background-color: transparent;
  }

  :global(.react-datepicker__day-name) {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;
    margin: 0;

    color: $color-dark-100;
  }

  :global(.react-datepicker__header) {
    padding: 0;
    background-color: transparent;
    border-bottom: none;
  }

  :global(.react-datepicker__month) {
    margin: 0;
  }

  :global(.react-datepicker__month-container) {
    width: 252px;
  }

  :global(.react-datepicker__day-names) {
    margin-bottom: 12px;
  }

  /* day styles */
  :global(.react-datepicker__day) {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;
    margin: 0;

    color: $color-light-100;

    border-radius: 50%;
    outline: none;

    transition: 200ms background-color;

    &:hover {
      background-color: $color-accent-900;
      border-radius: 50%;
    }

    &:focus-visible {
      background-color: transparent;
      border: 2px solid $color-accent-300;
    }
  }
}
.calendar {
  width: 300px;
  padding: 16px 24px;

  font-family: inherit !important;
  font-size: $font-size-m !important;
  line-height: $line-height-m !important;
  color: $color-light-100;

  background-color: $color-dark-500 !important;
  border-color: $color-dark-300 !important;
  border-radius: 2px !important;
}

.icon {
  position: absolute;
  right: 12px;

  &.disabled {
    //  color: var(--color-text-disabled);
  }
}

.input {
  position: relative;

  width: 100%;

  color: $color-light-100;

  background-color: $color-dark-700;
  border: none;

  &:hover {
    color: $color-light-100;
    outline: 0;
    outline-offset: 0;
  }

  &:focus-within {
    color: $color-light-100;
    outline: 0;
    outline-offset: 0;
  }

  &:active {
    color: $color-light-100;
    outline: 0;
    outline-offset: 0;
  }

  &.error {
    color: $color-danger-500;
  }
}

.inputContainer {
  position: relative;

  display: flex;
  gap: 22px;
  align-items: center;

  width: 150px;
  padding: 6px 10px;

  background-color: $color-dark-700;
  border: 1px solid $color-dark-300;
  border-radius: 2px;

  transition: 0.2s ease-out;

  &:hover {
    border: 1px solid $color-light-900;
  }

  &.error {
    border-color: $color-danger-500;

    // outline: 1px solid var(--danger-300);
  }

  &.error:focus-within {
    /* border-color: $color-dark-300;
    outline: 1px solid $color-dark-300; */
    color: $color-danger-500;
  }

  &:has(.range) {
    .icon {
      position: static;
    }

    .input {
      width: 193px;
    }
  }

  &:focus-within:not(.error) {
    border: 1px solid $color-accent-700;
    outline: 1px solid $color-accent-700;
  }

  &:active:not(.error) {
    border: 1px solid $color-accent-700;
    outline: 1px solid $color-accent-700;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
}

.buttonBox {
  display: flex;
}

.button {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background: $color-dark-100;
  border-radius: 50%;

  transition: 200ms background-color;

  &:hover {
    background-color: $color-dark-100;
  }
}

.errorText {
  margin: 4px 0 0;
  font-size: $font-size-xs;
  line-height: $line-height-m;
  color: $color-danger-300;
}

.errorContainer {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 23px;
}

/* date-range day styles */

.day {
  &:global(.react-datepicker__day--in-selecting-range) {
    background-color: $color-accent-900;
    border-radius: 0;
  }

  &:global(.react-datepicker__day--selecting-range-start) {
    background-color: $color-accent-900;
    background-image: radial-gradient(28px circle, $color-accent-500 48%, transparent 51%);
    border-radius: 50% 0 0 50%;
  }

  &:global(.react-datepicker__day--selecting-range-end) {
    background-color: $color-accent-900;
    background-image: radial-gradient(28px circle, $color-accent-500 48%, transparent 51%);
    border-radius: 0 50% 50% 0;
  }

  &:global(.react-datepicker__day--in-range) {
    background-color: $color-accent-900;
    border-radius: 0;
  }

  &:global(.react-datepicker__day--range-start) {
    background-color: $color-accent-900;
    background-image: radial-gradient(28px circle, $color-accent-500 48%, transparent 51%);
    border-radius: 50% 0 0 50%;
  }

  &:global(.react-datepicker__day--range-end) {
    background-color: $color-accent-900;
    background-image: radial-gradient(28px circle, $color-accent-500 48%, transparent 51%);
    border-radius: 0 50% 50% 0;
  }
}

.label {
  user-select: none;

  font-size: 14px !important;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: $color-light-900 !important;
}

.star {
  font-size: 14px !important;
  color: $color-danger-300;
}
