.container{
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
  .text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
    .title{
      color: var(--color-light-100);
      font-family: var(--font-family-primary);
      font-size: var(--font-size-m);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-l);
      margin-bottom: 19px;
    }
    .text{
      color: var(--color-light-100);
      font-family: var(--font-family-primary);
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-m);
      margin-bottom: 54px;
    }
    .button{
      width: 182px;
      display: flex;
      justify-content: center;
      font-size: var(--font-size-s);
    }
  }
}
