@import 'src/styles/mixins';
@import 'src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.wrapper {
  @include wh(481px, 562px);
}

.separator[data-orientation='horizontal'] {
  top: 59px;
  left: 0;

  width: 480px;
  height: 1px;

  background-color: $color-dark-100;
}

.separatorHide {
  visibility: hidden;
}

.title {
  @include wh(480px, 59px);

  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 24px;
}

.ava {
  @include wh(36px, 36px);

  margin-right: 12px;
  border-radius: 50%;
}

.userName {
  @include wh(90px, 24px);

  margin-top: 6px;
}

.comments {
  @include wh(480px, 338px);
}

.likesArea {
  @include wh(480px, 96px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
}

.icon {
  cursor: pointer;
  margin-left: 24px;
}

.iconForComment {
  cursor: pointer;
  margin-top: 50px;
}

.bookmark {
  cursor: pointer;
  margin-right: 8px;
}

.addComment {
  @include wh(480px, 53px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.usersComment {
  display: flex;
  flex-direction: row;
  padding-top: 36px;
}

.oneComment {
  width: 365px;
}

.textarea {
  @include wh(375px, 55px);
}

.comment {
  display: flex;
  align-items: flex-start;

  width: 100%;

  background-color: $color-dark-300 !important;
  border: none;
  outline: 0;
  outline-offset: 0;

  &:hover {
    outline: 0;
    outline-offset: 0;
  }

  &:focus-within {
    outline: 0;
    outline-offset: 0;
  }
}

.publishButton {
  cursor: pointer;

  position: relative;

  height: 36px;

  color: $color-accent-500;

  background-color: transparent;
  border: none;

  &:hover {
    color: $color-accent-100;
    outline: 0;
    outline-offset: 0;
  }

  &:focus-within {
    color: $color-accent-100;
    outline: 0;
    outline-offset: 0;
  }

  &:active {
    color: $color-accent-100;
    outline: 0;
    outline-offset: 0;
  }
}
