
@import "@/src/styles/colors";
@import "@/src/styles/typography";


$main-width: 1002px;
$card-width: 100px;
$card-height: 100px;
$card-top: 55px;
$card-left: 157px;


@mixin center-flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  @include center-flex;
  width: $main-width;

  .card {
    @include center-flex;
    width: $card-width;
    height: $card-height;
    top: $card-top;
    left: $card-left;
    background-color:   $color-dark-300;
    position: relative;
    top: 100px;
  }

 
>>>>>>> storybook
}
