@import "../../scss/index.scss";
.textFieldWrap {
	width: 300px;
	//background-color: var(--color-dark-500);

	.textField {
		width: 279px;
		height: 36px;
		background-color: transparent;
		border: 1px solid var(--color-dark-300);
		border-radius: 2px;

		&:focus {
			border: none;
			outline: 1px solid var(--color-accent-500);
		}
	}

	.label {
		font-size: 14px;
		color: var(--color-dark-300);
	}

	.error {
		color: var(--color-danger-500);
	}

	.errorInput {
		outline-color: var(--color-danger-500);
		border-color: var(--color-danger-500);
	}

	.disabledInput {
		border-color: var(--color-dark-100);
		color: var(--color-dark-100);
	}
}
