@import '@/src/styles/colors';
@import 'src/styles/mixins';

.container {
  width: 492px;
  height: 564px;
  background-color: var(--dark-300);
  position: relative;
}

.photoContainer {
  background-color: $color-dark-500;
  margin-top: 54px;
}

.emptyPhotoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 222px;
  min-height: 228px;
}

.selectPhoto {
  margin-top: 36px;
}

.save {
  align-self: flex-end;
}

.saveBtn {
  padding: 6px 24px;
}
