@import 'src/styles/mixins';
@import 'src/styles/colors';

.container{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-dark-300;
  .text{
    padding: 12px 0 12px 60px ;
  }
  .options_container{
    @include flex-block();
    flex-direction: row;
    gap: 48px;
    padding-right: 64px;
  }
}
