@import 'src/styles/mixins';
@import 'src/styles/colors';

.container {
  @include flex-block($flex-direction: row);

  width: 100%;
  border-bottom: 1px solid $color-dark-300;

  .content {
    @include flex-block($flex-direction: row, $justify-content: space-between);

    width: 1280px;

    .text {
      display: block;
      padding: 12px 0 12px 60px;
    }

    .options_container {
      @include flex-block;

      flex-direction: row;
      gap: 48px;
      padding-right: 64px;
    }
  }
}

.select {
  width: 163px;
}
