@import 'src/styles/mixins';
@import 'src/styles/colors';

.container{
  @include flex-block();
  border-bottom: 1px solid $color-dark-300;
  .wrapper {
    @include flex-block(
      $flex-direction: row,
      $justify-content: space-between,
    );
    width: 100%;
    max-width: 1220px;
  }
  .text{
    padding: 12px 0 12px 60px ;
  }
  .options_container{
    @include flex-block();
    flex-direction: row;
    gap: 48px;
    padding-right: 64px;
  }
}
