@import "@/src/styles/colors";
@import "@/src/styles/typography";

// Mixins
@mixin common-styles {
  display: flex;
  justify-content: space-around;
  color: $color-light-700;
  font-weight: $font-weight-bold;
  background-color: $color-dark-900;
  height: 60px;
  position: relative;
  top:30px;
}

@mixin relative-pos($top, $left) {
  position: relative;
  top: $top;
  left: $left;
}

// Styles
.main {
  @include common-styles;
}

.insta {
  position: relative;
    top: 3px;
}

.img {
  @include relative-pos(10px, 300px);
  position: relative;
  top: 28px;
}

//git push --set-upstream origin HeaderCards
.drop{
    background-color: $color-dark-900;
    border: 1px solid white;
    width: 163px;
    height: 36px;
    position: relative;
    top: 13px;
    

}


.dropDown {
  position: relative;
  top: 10px;
  color: $color-light-100;
}
