@import 'src/styles/mixins';
@import 'src/styles/variables';

.container {
  @include flex-block;

  .main {
    @include flex-block($align-items: 'unset');

    min-width: 1280px;
    min-height: calc(660px - $header-height);
  }
}
