@import 'src/styles/mixins';
@import 'src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.container {
  @include wh(196px, 36px);

  position: relative;

  .photo {
    justify-content: center;

    .ellipse {
      @include wh(192px, 192px);

      cursor: pointer;
      margin-top: 18px;
      background-color: $color-dark-300;
      border-radius: 50%;
    }

    .image {
      cursor: pointer;
      margin: -115px 30px 96px 72px;
    }
  }

  .ava {
    display: flex;

    width: 196px;
    height: 100%;
    min-height: 196px;
    margin-bottom: 20px;

    background-color: $color-dark-300;
    border-radius: 50%;
  }
}

.photoContainer {
  // margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $color-dark-500;
}

.emptyPhotoContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 222px;
  min-height: 228px;
  margin-top: 50px;
}

.errorPhotoContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 222px;
  min-height: 228px;
  margin-top: 14px;
}

.selectPhoto {
  margin-top: 35px;
  margin-bottom: 30px;
}

.save {
  align-self: flex-end;
}

.saveBtn {
  padding: 6px 24px;
}

.addBtn {
  @include wh(155px, 36px);

  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-accent-500 !important;
}

.photoBtn {
  @include wh(198px, 36px);

  justify-content: center;
}

.baseModal {
  width: 492px !important;
  height: 564px;
}

.error {
  @include wh(444px, 36px);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-danger-900;
  border: 1px solid $color-danger-500;
}

.deleteAvatarIcon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 20px;
}

.SliderRoot {
  touch-action: none;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  width: 200px;
  height: 20px;
}

.SliderTrack {
  position: relative;

  flex-grow: 1;

  height: 3px;

  background-color: rgb(255 255 255 / 25%);
  border-radius: 9999px;
}

.SliderRange {
  position: absolute;
  height: 100%;
  background-color: white;
  border-radius: 9999px;
}

.SliderThumb {
  display: block;

  width: 12px;
  height: 12px;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgb(248 242 242 / 0%);
}

.SliderThumb:hover {
  box-shadow: rgb(25 118 210 / 16%) 0 0 0 8px;
}

.SliderThumb:focus {
  outline: none;
}
