@import 'src/styles/mixins';
@import 'src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.container {
  display: flex;
  gap: 39px;
  justify-content: space-between;
  margin-bottom: 53px;

  .photo {
    justify-content: center;

    .ellipse {
      @include wh(192px, 192px);

      cursor: pointer;
      margin-top: 18px;
      background-color: $color-dark-300;
      border-radius: 50%;
    }

    .image {
      cursor: pointer;
      margin: -115px 30px 96px 72px;
    }
  }

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

    width: 204px;
    height: 100%;
    min-height: 200px;

    background-color: $color-dark-300;
    border-radius: 50%;
  }

  .dataProfile {
    width: 78%;
  }
}
