@import '@/src/styles/mixins';
@import '@/src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.addedPhoto {
  margin: 0 0 12px 12px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.wrapperForImg {
  display: flex;
  flex-direction: row;
  margin-right: 12px;
}

.closeIcon {
  @include wh(12px, 12px);

  position: relative;
  margin-left: 64px;
  padding-top: 10px;

}

.close {
  filter: brightness(0) invert(1);

  &:hover {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
  }
}

.image {
  margin-bottom: 12px;
}

.oneImage {
  margin: 12px 12px 12px 0;
}