@import 'src/styles/colors';

.header {
  display: flex;
  justify-content: space-between;

  width: 700px;
  height: 36px;
  margin-bottom: 20px;

  /* .button {
    width: 167px;
  } */
}

.progressProfile {
  display: flex;
  gap: 100px;
  height: 48px;
  margin-bottom: 23px;

  .info {
    display: flex;
    flex-direction: column;
    width: 90px;
  }
}

.text {
  height: 73px;
  color: $color-accent-500;
  text-decoration-color: $color-accent-500;
}
