@import 'src/styles/colors';

.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.progressProfile{
  display: flex;
  gap: 80px;
  margin-bottom:23px ;
  .info{
    display: flex;
    flex-direction: column;
  }

}
.link{
  text-decoration-color: $color-accent-500;
  .text{
    color: $color-accent-500;

  }
}
