@import 'src/styles/mixins';

.main {
  @include flex-block();
  width: 378px;
  height: 456px;
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 1px;
}