@import 'src/styles/mixins';
@import 'src/styles/colors';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.accountManagement {
  width: 100%;
  max-width: 972px;
  margin-top: 20px;

  .accountTypeWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .accountType {
      padding-bottom: 6px;
    }

    .accountWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      width: 100%;
      height: 96px;
      padding-left: 16px;

      background: $color-dark-500;
      border: 1px solid $color-dark-300;
      border-radius: 4px;

      .account {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: 100%;


        .accountProperty {
          display: flex;
          flex-direction: column;
          gap: 13px;

        }
      }
    }
  }

  .yourSubscriptionCostWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .yourSubscriptionCost {
      padding-top: 42px;
      padding-bottom: 6px;
    }

    .costWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      width: 100%;
      height: 120px;
      padding: 16px;

      background: $color-dark-500;
      border: 1px solid $color-dark-300;
      border-radius: 4px;
    }

    .paySystemWrapper {
      display: flex;
      flex-direction: row;
      gap: 54px;
      align-items: center;
      justify-content: flex-end;

      padding-top: 24px;

      //.paySystem {
      //  stroke: $color-accent-100;
      //  stroke-opacity: 0.1;
      //
      //  &:focus {
      //    border-radius: 3px;
      //    outline: 2px solid $color-accent-700;
      //  }
      //
      //  &:hover:not(:disabled) {
      //    stroke: $color-dark-300;
      //  }
      //
      //  &:active:not(:disabled) {
      //    stroke: $color-accent-700;
      //    stroke-opacity: 0.5;
      //  }
      //}

      //&:focus {
      //  border-radius: 3px;
      //  outline: 2px solid $color-accent-700;
      //}
      .paySystem {
        position: relative;

        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 96px;
        height: 64px;

        background-color: $color-dark-500;
        border: 1px solid $color-dark-300;
        border-radius: 5px;

        &::after {
          content: "";

          position: absolute;
          top: -50px;
          left: -75px;
          transform: rotate(35deg);

          width: 50px;
          height: 155px;

          opacity: .2;
          background: #fff;

          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        &:hover {
          &::after {
            left: 130%;
            transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
          }
        }

        &:disabled {
          cursor: default;
          opacity: 0.5;
        }

        &:disabled:hover::after {
          display: none;
        }
      }
    }
  }
}