.container {
  width: 492px;
  margin: 72px auto;
  background-color: var(--dark-300);
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
}

.photoContainer {
  background-color: var(--dark-500);
}

.emptyPhotoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 222px;
  min-height: 228px;
}

.btnContainer {
}

.selectPhoto {
  margin-top: 66px;
  margin-bottom: 114px;
}

.save {
  align-self: flex-end;
  margin-top: 42px;
  margin-bottom: 36px;
  margin-right: 42px;
}

.saveBtn {
  padding: 6px 24px;
}