/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @import 'src/styles/mixins';
 *   |         ^^^^^^^^^^^^^^^^^^^
 *   '
 *   profile-layout.module.scss 1:9  root stylesheet */

body::before {
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @import 'src/styles/mixins';\a   \2502          ^^^^^^^^^^^^^^^^^^^\a   \2575 \a   profile-layout.module.scss 1:9  root stylesheet";

  display: block;

  margin-bottom: 1em;
  padding: 1em;

  font-family: 'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono', 'Droid Sans Mono',
    monospace;
  white-space: pre;

  border-bottom: 2px solid black;
}
