@import '@/src/styles/mixins';
@import '@/src/styles/colors';

.container {
  position: relative;
  background-color: var(--dark-300);
}

.photoContainer {
  // margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 222px;
  min-height: 228px;
  margin-top: 50px;

  background-color: $color-dark-500;
}

.selectPhoto {
  margin-top: 35px;
  margin-bottom: 30px;
}

.baseModal {
  width: 492px !important;
  height: 564px;
}

.emptyPhotoContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 222px;
  min-height: 228px;
}

.selectPhoto {
  margin-top: 36px;
}

.save {
  align-self: flex-end;
}

.saveBtn {
  padding: 6px 24px;
}
