@import 'src/styles/mixins';
@import 'src/styles/variables';

.container {
  .main {
    @include flex-block($justify-content: 'unset');

    width: 100%;
    height: calc(100vh - $header-height);
    padding-top: 24px;
  }
}

.widePaddingButton {
  padding-right: 36px;
  padding-left: 36px;
}