@import 'src/styles/mixins';
@import 'src/styles/colors';

.main {
  @include flex-block($justify-content: start);
  border-radius: 1px;
  width: 376px;

  .title {
    margin-top: 22px;
  }

  .email {
    margin-top: 37px;
    width: 330px;

    input {
      padding-left: 11px;
    }
  }

  .hint {
    color: $color-light-900;
    padding: 7px 23px 0;
    letter-spacing: 0.3px;
    text-align: start;
  }

  .emailError {
    padding-top: 30px;
  }

  .back {
    @include flex-block;
    width: 330px;
  }

  .answer {
    text-align: start;
  }

  .form {
    @include flex-block($justify-content: start);
  }
}

.mode--primary {
  .submit {
    @include flex-block;
    width: 330px;
    margin-top: 17px;
  }

  .back {
    margin: 24px 0 16px;
  }

  .recaptcha {
    margin-bottom: 15px;
    height: 84px;
  }

  .answer,
  .repeat {
    display: none;
  }
}

.mode--secondary {
  .answer {
    display: block;
    padding: 8px 23px;
  }

  .repeat {
    @include flex-block;
    width: 330px;
    margin-top: 10px;
  }

  .back {
    margin: 24px 0 34px;
  }

  .submit,
  .recaptcha {
    display: none;
  }
}
