@import '@/src/styles/mixins';
@import '@/src/styles/colors';
@import '@/src/styles/typography';

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.textFieldWrap {
  position: relative;
  width: 100%;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px $color-dark-500 inset;

    -webkit-text-fill-color: $color-light-100;
  }

  .textField {
    @include wh(100%, 36px);

    width: 100%;
    padding: 0 42px 0 15px;

    letter-spacing: 0.07em; /* Adjust as needed */

    background-color: transparent;
    border: 1px solid $color-dark-100;
    border-radius: 3px;
    caret-color: white;

    &[type='password'] {
      padding-right: 42px;
    }

    &:focus {
      border: none;
      outline: 2px solid $color-accent-500;

      &::placeholder {
        color: $color-light-900;
      }
    }

    &[type='search'] {
      padding-left: 30px;

      &::-webkit-search-cancel-button {
        appearance: none;
      }
    }
  }

  .label {
    font-size: 14px;
    color: $color-light-900;
  }

  .disabledLabel {
    color: $color-dark-100;
  }

  .errorWrap {
    color: $color-danger-500;
  }

  .errorInput {
    border-color: $color-danger-500;
    outline-color: $color-danger-500;
  }

  .disabledInput {
    color: $color-dark-100;
    border-color: $color-dark-100;
  }

  .iconEye {
    cursor: pointer;
    position: absolute;
    top: 32px;
    right: 12px;
  }

  .disabledIconEye {
    fill: $color-dark-100;
  }

  .searchIcon {
    position: absolute;
    top: 7px;
    left: 6px;
    fill: $color-dark-100;
  }

  [type='search']:focus + .searchIcon {
    fill: $color-light-900;
  }
}

.star {
  color: $color-danger-300;
}
