@import '@/src/styles/mixins';

.main {
  display: flex;
  justify-content: center;
}

.arrow {
  display: flex;
  width: 300px;
}

.img {
  position: relative;

  right: 15px;
}

.SignUp {
  max-width: 10%;
  position: relative;
  top: 34px;
  left: 102px;
}

.link {
  text-decoration: none;
}

.Text {
  padding: 100px;
  position: relative;
  z-index: -9999;
  bottom: 30px;
  font-weight: 400px;
  list-style: none;
}

.title {
  @include flex-block($justify-content: center);
}
