@import '@/src/styles/mixins';

.arrow {
  display: flex;
}
.img {
  position: relative;

  right: 15px;
}
.signIn {
  display: flex;
  max-width: 80%;
  position: relative;
  top: 34px;
  left: 182px;
}

.link {
  text-decoration: none;
}

.privacyPolicy {
  padding: 100px;
  text-align: center;
  position: relative;
  z-index: -9999;
  bottom: 30px;
  width: 978px;
  margin: 0 auto;
  line-height: 24px;
  font-weight: 400px;
  list-style: none;
}
