@import 'src/styles/colors';
@import 'src/styles/typography';
@import 'src/styles/mixins';

.wrapper {
  width: 100%;

  .error {
    color: $color-danger-500;
    border-color: $color-danger-500;
    outline-color: $color-danger-500;
  }

  .label {
    cursor: pointer;

    position: relative;

    display: inline-flex;
    gap: 2px;
    align-items: center;

    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;

    &.disabled {
      cursor: default;
      color: $color-dark-100;
    }

    .buttonWrapper {
      all: unset;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 6px;

      background-color: inherit;
      border-radius: 50%;

      &:focus {
        background-color: $color-dark-500;
      }

      &:active:not(.disabled) {
        background-color: $color-dark-100;
      }

      &:hover:not(.disabled),
      &:hover.root:not([data-state='checked'], .disabled) {
        background-color: $color-dark-100;
      }

      .checkbox {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        width: 24px;
        height: 24px;

        background-color: transparent;
        border: 2px solid $color-light-500;
        border-radius: 3px;

        transition: 0.2s ease-in-out;

        &[data-disabled] {
          cursor: initial;
          border: 2px solid $color-dark-100;
        }

        .checkIcon {
          fill: $color-dark-700;

          &[data-disabled] {
            fill: $color-dark-700;
          }
        }

        .indicator {
          display: flex;
          align-items: center;
          justify-content: center;

          &[data-state='checked'] {
            .checkIcon {
              fill: $color-light-100;
            }
          }

          &[data-state='checked'][data-disabled] {
            .checkIcon {
              fill: $color-dark-100;
            }
          }
        }
      }
    }
  }
}
